.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}